<div class="modal fade" id="import-excel-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import excel</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="frmMaintainance">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Chose a file</label>
                                <input type="file" class="form-control form-control-sm" id="fileInputExcel" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="~/template/excel/ImportTemplate_CommonCategory.xlsx" class="btn btn-xs btn-primary" id="btnGetTemplate"><i class="fa fa-download"></i>&nbsp; Get template</a>
                <button type="button" class="btn btn-xs btn-success" id="btnImportExcel"><i class="fa fa-upload"></i>&nbsp; Import</button>
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; Close</button>
            </div>
        </div>
    </div>
</div>