/.vs

/GymNutri/bin
/GymNutri/Logs
/GymNutri/node_modules
/GymNutri/obj
/GymNutri/wwwroot/lib

/GymNutri.Business/bin
/GymNutri.Business/obj

/GymNutri.Business.Dapper/bin
/GymNutri.Business.Dapper/obj

/GymNutri.Data/bin
/GymNutri.Data/obj

/GymNutri.Data.EF/bin
/GymNutri.Data.EF/obj

/GymNutri.Infrastructure/bin
/GymNutri.Infrastructure/obj

/GymNutri.Utilities/bin
/GymNutri.Utilities/obj

/GymNutri.WebApi/bin
/GymNutri.WebApi/obj





