<div class="modal fade" id="add-edit-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="spAddEdit">Add / Edit</span> Status Category</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="frmMaintainance">
                    <div class="row" hidden>
                        <input type="hidden" id="hidId" value="0" />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Table</label>
                                        <select class="form-control form-control-sm" id="ddlmdTable" name="ddlmdTable">
                                            <option value="0">-- Select table --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" class="form-control form-control-sm" id="txtmdCode" name="txtmdCode" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control form-control-sm" id="txtmdName" name="txtmdName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Color</label>
                                                <input type="color" class="form-control form-control-lg p-0" id="txtmdColor" name="txtmdColor" value="#ff3333" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>No.</label>
                                                <input type="number" class="form-control form-control-sm" id="txtmdOrder" name="txtmdOrder" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Show in Admin</label><br />
                                        <input type="checkbox" class="flat-red" id="ckmdShowInAdmin" name="ckmdShowInAdmin">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Show in Client</label><br />
                                        <input type="checkbox" class="flat-red" id="ckmdShowInClient" name="ckmdShowInClient">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description</label><br />
                                <textarea rows="4" class="form-control form-control-sm p-t-10 p-b-15" id="txtmdDescription" name="txtmdDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-success" id="btnSave"><i class="fa fa-floppy-o"></i>&nbsp; Save</button>
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; Close</button>
            </div>
        </div>
    </div>
</div>